.platform-faq-div {
    padding-inline: 200px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.flex-1 {
    font-size: 20px;
}
.software-div {
    margin-inline: auto;
}

@media (max-width: 600px) {
    .platform-faq-div {
        padding-inline: 15px;
        margin-top: 20px;
        margin-bottom: 150px;
    }
    .flex-1 {
        font-size: 17px;
    }
    .software-div {
        margin-inline: 20px;
    }
}